<?xml version='1.0'?>
<!-- This file contains a database connection string used by custom JICS portlets.
     It is wise when utilizing a connection string with an embedded password to limit the
     privileges of the user account to only the actions truly required by the connection, not
     broad privileges that could be accidentally or maliciously used to damage the data.

     Connection strings can contain references to an ODBC driver and the accompanying details for
     that driver, for example:

       DRIVER={SQL Server};SERVER=localhost;UID=username;PWD=password;DATABASE=ICS_NET;

     or they can contain the name of a DSN (Database source Name), for example:

       DSN=MyDSNName

     assuming that you have set up in the ODBC control panel applet a System DSN with that name.
     -->
<CUSConnection>
	<CUSConnectionString>DRIVER={SQL Server};SERVER=localhost;UID=username;PWD=password;DATABASE=ICS_NET;</CUSConnectionString>
</CUSConnection>