@model Go.SimpleQuery.Models.SimpleQueryLiteral
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@Html.Raw(Model.Html)


@section headerButton {
    @if (Model.AllowExports)
    {
        <a href="@Url.Action("Export")" class="ui-btn-right">Export</a>
    }
}