@model Go.SimpleQuery.Models.SimpleQueryMasterDetail
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
  
<ul data-role="listview" data-inset="true">
    @foreach (var row in Model.MasterDetailData)
    {
        <li>@row.Master
            <ul data-role="listview">
                <li><a href="#" data-rel="back" data-role="list-divider">Back</a></li>
                @foreach (var detail in row.Details)
                {
                    <li>@detail.Name :<span style="font-weight: normal !important">@detail.Value</span></li>
                }
            </ul>
        </li>
    }
</ul>


@section headerButton {
    @if (Model.AllowExports)
    {
        <a href="@Url.Action("Export")" class="ui-btn-right">Export</a>
    }
}